<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Appointment List</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Hospital Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/indexUser">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<h2 class="h2"> Appointments list</h2>

<!--<table border="1" class="table table-striped">-->
<div style="width: 90%; overflow-x: auto;">
    <table class="table" style="width: 40%;">
    <thead>
    <tr>
        <th style="text-align: center"> Id</th>
        <th style="text-align: center"> Date</th>
        <th style="text-align: center"> Doctor name</th>
        <th style="text-align: center"> Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" th:if="${appointments.isEmpty()}">
        <td colspan="2"> No appointments yet</td>
    </tr>
    <tr style="text-align: center" th:each="appointment : ${appointments}">
        <td style="text-align: center" class="appointmentId" th:text="${appointment.id}"> Id</td>
        <td style="text-align: center" th:text="${appointment.date}"> Name</td>
        <td style="text-align: center" th:text="${appointment.doctor.name}"> Name</td>
        <td>
            <button class="delete-appointment-button"> Delete appointment</button>
        </td>
    </tr>
    </tbody>
</table>
</div>

<p></p>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script>
    const deleteButtons = document.querySelectorAll('.delete-appointment-button');
    deleteButtons.forEach(function(deleteButton) {
        deleteButton.addEventListener("click", function() {
            const appointmentId = this.parentNode.parentNode.querySelector(".appointmentId").textContent;
            fetch('/appointment/' + appointmentId, {
                method: 'DELETE'
            }).then(function(response) {
                if (response.ok) {
                    // Display a success alert
                    const successAlert = document.createElement("div");
                    successAlert.innerHTML = `
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              Appointment deleted successfully
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          `;
                    document.body.appendChild(successAlert);
                    location.reload(); // Reload the page to update the table
                } else {
                    // Display an error alert
                    const errorAlert = document.createElement("div");
                    errorAlert.innerHTML = `
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              Error deleting appointment
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          `;
                    document.body.appendChild(errorAlert);
                }
            });
        });
    });
</script>

<style>
    .h2 { text-align: center;
        margin-top: 40px;
    }

    .table {
        margin-top: 25px;
        margin-left: 65vh;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    .delete-appointment-button{
    }

    .delete-appointment-button:hover {
        background-color: red;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>