<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Appointment Details</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Hospital Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/indexDoctor">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appointment/viewAppointmentsByDoctor">View Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bg" style="background-image: url('https://images.pexels.com/photos/5699458/pexels-photo-5699458.jpeg');  background-size: cover; background-position: center center; height: 100%; width: 100%;">
<br>
<h2 style="text-align: center">Appointment Details</h2>
<br>
<br>
<div class="container">
<table>
    <tbody>
    <tr>
        <td style="font-weight: bold" th:text="'Patient name:' + ${appointment.patient.name}"></td>
    </tr>
    <tr>
        <td style="font-weight: bold" th:text="'Patient age:' + ${appointment.patient.age}"></td>
    </tr>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Patient diagnoses:</td>
                </tr>
                <tr th:each="diagnosis : ${appointment.diagnoses}">
                    <td th:text="${diagnosis.name}"></td>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/diagnoses/{diagnosisId}/delete(appointmentId=${appointmentId}, diagnosisId=${diagnosis.id})}" th:method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-block">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Add new diagnoses</td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/diagnoses(appointmentId=${appointmentId})}" method="post">
                            <select name="diagnosis">
                                <option th:each="diagnosis : ${availableDiagnoses}" th:value="${diagnosis.id}" th:text="${diagnosis.name}"></option>
                            </select>
                            <button type="submit" class="btn btn-info">Add Diagnosis</button>
                        </form>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Patient Procedures:</td>
                </tr>
                <tr th:each="procedure : ${appointment.procedures}">
                    <td th:text="${procedure.name}"></td>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/procedures/{procedureId}/delete(appointmentId=${appointmentId}, procedureId=${procedure.id})}" th:method="post" class="d-inline">                            <button type="submit" class="btn btn-danger btn-block">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Add new procedures:</td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/procedures(appointmentId=${appointmentId})}" method="post">
                            <select name="procedure">
                                <option th:each="procedure : ${availableProcedures}" th:value="${procedure.id}" th:text="${procedure.name}"></option>
                            </select>
                            <button type="submit" class="btn btn-info">Add Procedure</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Medication:</td>
                </tr>
                <tr th:each="medication : ${appointment.medications}">
                    <td th:text="${medication.name}"></td>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/medications/{medicationId}/delete(appointmentId=${appointmentId}, medicationId=${medication.id})}" th:method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-block">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>
    <tr>
        <td>
            <table style="margin:0 auto;width:100%; text-align:center;">
                <tr>
                    <td style="font-weight: bold">Add new medication:</td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/appointment/{appointmentId}/medications(appointmentId=${appointmentId})}" method="post">
                            <select name="medication">
                                <option th:each="medication : ${availableMedications}" th:value="${medication.id}" th:text="${medication.name}"></option>
                            </select>
                            <button type="submit" class="btn btn-info">Add Medication</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <form action="#" th:action="@{/appointment/{appointmentId}/save(appointmentId=${appointmentId})}" method="post">
                <div class="form-group">
                    <label style="font-weight: bold" for="summary">Summary</label>
                    <textarea class="form-control" id="summary" th:field="*{appointment.summary}" rows="5">

                        </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

    body {
        background: linear-gradient(to right, rgba(193, 199, 203, 0.35), #afb5c0);
        font-family: 'Roboto', sans-serif;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
     table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
         padding: 5px;
         width: 80%;
         background-color: lightgray;
     }
    th {
        background-color: lightgray;
    }


</style>

</body>
</html>