<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" style="width: 40%;">
    <thead>
    <tr>
        <th style="text-align: center"> Id</th>
        <th style="text-align: center"> Diagnosis</th>
        <th style="text-align: center"> Procedure</th>
        <th style="text-align: center"> Meds</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" th:if="${prescriptions.isEmpty()}">
        <td colspan="2"> No prescription yet</td>
    </tr>
    <tr style="text-align: center" th:each="prescription : ${prescriptions}">
        <td style="text-align: center" class="appointmentId" th:text="${prescription.id}">Id</td>
        <td style="text-align: center" th:text="${prescription.diagnosis}"> Diagnosis</td>
        <td style="text-align: center" th:text="${prescription.procedures}"> Procedure</td>
        <td style="text-align: center" th:text="${prescription.meds}"> Meds</td>
        <td>
        </td>
    </tr>
    </tbody>
</table>



</body>
</html>